INSTALL
Makefile
Makefile.in
aclocal.m4
config.*
configure
compile
gtkpanda-config
gtkpanda.spec
libtool
stamp-h
build-stamp
ltmain.sh
autom4te.cache
gtkpanda-config.1
gtkpanda.pc
gtk+panda-*.tar.gz
depcomp
install-sh
missing
stamp-h1
*.swp
*.tar.gz
*.o
*.org
*.lo
*.la
*.deps
*.libs
libs/*.a
dblib/*.a
mkinstalldirs
java
configure-stamp
build-indep-stamp
build-arch-stamp
test
m4
po/*.gmo
po/stamp-po
po/POTFILES
po/remove-potcdate.sed
gtkpanda/pandamarshal.c
gtkpanda/pandamarshal.h
gtkpanda/testclist
gtkpanda/testcombo
gtkpanda/testentry
gtkpanda/testfileentry
gtkpanda/testhtml
gtkpanda/testnumeric
gtkpanda/testpdf
gtkpanda/testpixmap
gtkpanda/testtable
gtkpanda/testtext
gtkpanda/testtimer
gtkpanda2.pc
